:root {
    --dunkelblau: #183941;
    --hellblau: #87B6CB;
    --türkis: #00A99D;
    --türkislowop: #00a99e38;
    --grün: #A4C55B;
    font-family: 'Jockey One', sans-serif;}
  
  html, body {
    margin: 0;
    height: auto;
  }

  main {
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .index {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }
  
  .ueberuns {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .datenschutz {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .impressum {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .kontakt {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%;       
  }

  .karte {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%;       
  }
  
  h1 {
    color: var(--grün);
    font-size: 3em;
  }

  h2 {
    color: var(--grün);
    font-size: 1.7em;
    padding-top: 0.7em;
  }

  p {
    color: white;
    font-size: 1.3em;
  }
  















  /* HEADER (Logo/Navigation) */
  
  header{
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--dunkelblau);
    padding-bottom:15px;
    z-index: 200;
    margin-bottom: 7%;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: var(--grün);
  }
  
.logo{
    flex:1;
    text-align: center;
    padding-top: 20px;
}


.nav{
    flex:2;
}

.nav_links{
  color: var(--türkis);
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style:none;
  padding: 0;
  margin:0px;
}

.nav_links li a{
  display: block;
  box-sizing:border-box;
  height:40px;
  padding: 10px 0px 0px 0px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4em;
}


.nav_links li a:hover, .aktiver_menuelink{
  color:var(--blue);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: var(--blue);
}
  

  /* FOOTER */

  footer{
    background-color: var(--dunkelblau);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    padding-top:10px;
    margin-bottom: 20px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: var(--grün);
  }

  #footer_text{
    flex:1;
    font-size: 1.2em;
    padding-left: 40px;
  }


  #footer_links{
    flex:2;
    font-size: 1.2em;
    text-align: center;
  }

  .footer_button{
    background-color: var(--türkis);
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6em;
    margin: 8px 5px 4px 5px;
    cursor: pointer;
    border-radius: 16px;
  }

  .footer_button a{
    color: white;
    text-decoration: none;
  }

  .footer_button:hover{
    background-color: var(--hellblau);
    color: var(--dunkelblau);
  }


  #footer_icons{
    flex:1;
    font-size: 1.2em;
    padding-right: 40px;
    text-align: right;
  }

  #footer_icons img{
    width: 40px;
    height: 40px;
    padding: 0px 5px;
  }

#footer_icons img:hover{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}



/* KONTAKTSEITE */

.kontaktformular {
  background-color: var(--türkislowop);
  color: white;
  border-radius: 5px;
  width: 100% -15px;
  font-size: 1.3em;
  margin-bottom: 7%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#name {
  margin: 10px;
  padding: 3px;
  width: 20%;
}

#email {
  margin: 10px;
  padding: 3px;
  width: 30%;
}

#message {
  resize: none;
  width: 90%;
  margin: 10px;
  background-color: var(--hellblau);
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Jockey One', sans-serif;
  font-size: 0.8em;
}

.kontaktformular button {
  background-color: var(--türkis);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 2px 20px;
  margin: 10px;
  cursor: pointer;
  font-family: 'Jockey One', sans-serif;
  font-size: 0.8em;

}

.kontaktformular label {
  margin: 10px;
}

.kontaktformular input {
  background-color: var(--hellblau);
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Jockey One', sans-serif;
  font-size: 0.8em;
}





/* KARTE */

#map {
  height: 700px;
  width: 100%;
  margin-bottom: 7%;
}

h3 {
  color: var(--grün);
  font-size: 1em;
}