:root {
    --dunkelblau: #183941;
    --hellblau: #87B6CB;
    --türkis: #00A99D;
    --grün: #A4C55B;
    font-family: 'Jockey One', sans-serif;}
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  .index {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }
  
  .ueberuns {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }
  
  h1 {
    color: var(--grün);
  }
  
  p {
    color: white;
    font-size: 1.3em;
  }
  





  /* HEADER (Logo/Navigation) */
  
  header{
    display:flex;
    align-items: center;
  }
  
.logo{
    flex:1;
    text-align: center;
    padding-top: 20px;
}

.nav{
    flex:2;
}

.nav_links{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style:none;
  padding: 0;
  margin:0px;
}

.nav_links li a{
  display: block;
  box-sizing:border-box;
  height:40px;
  padding: 10px 15px 0px 15px;
}


.nav_links li a:hover, .aktiver_menuelink{
  color:var(--blue);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: var(--blue);
}
  