:root {
    --dunkelblau: #183941;
    --hellblau: #87B6CB;
    --türkis: #00A99D;
    --türkislowop: #00a99e38;
    --grün: #A4C55B;
    font-family: 'Jockey One', sans-serif;}
  
  html, body {
    margin: 0;
    height: auto;
  }

  main {
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .index {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }
  
  .ueberuns {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .datenschutz {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .impressum {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .kontakt {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%;       
  }
  
  h1 {
    color: var(--grün);
  }

  h2 {
    color: var(--grün);
    font-size: 1.7em;
    padding-top: 0.7em;
  }

  p {
    color: white;
    font-size: 1.3em;
  }
  
  .links{
    color: var(--hellblau);
    text-decoration: none;
  }
  
  .links:hover{
    color: var(--türkis);
    text-decoration: none;
  }




  /* HEADER (Logo/Navigation) */
  
  header{
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--dunkelblau);
    padding-bottom:15px;
    z-index: 200;
    margin-bottom: 7%;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: var(--grün);
  }
  
.logo{
    flex:1;
    text-align: center;
    padding-top: 20px;
}


.nav{
    flex:2;
}

.nav_links{
  color: var(--türkis);
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style:none;
  padding: 0;
  margin:0px;
}

.nav_links li a{
  display: block;
  box-sizing:border-box;
  height:40px;
  padding: 10px 0px 0px 0px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4em;
}


.nav_links li a:hover, .aktiver_menuelink{
  color:var(--blue);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: var(--blue);
}
  

  /* FOOTER */

  footer{
    background-color: var(--dunkelblau);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    padding-top:10px;
    margin-bottom: 20px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: var(--grün);
  }

  #footer_text{
    flex:1;
    font-size: 1.2em;
    padding-left: 40px;
  }


  #footer_links{
    flex:2;
    font-size: 1.2em;
    text-align: center;
  }

  .footer_button{
    background-color: var(--türkis);
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6em;
    margin: 8px 5px 4px 5px;
    cursor: pointer;
    border-radius: 16px;
  }

  .footer_button a{
    color: white;
    text-decoration: none;
  }

  .footer_button:hover{
    background-color: var(--hellblau);
    color: var(--dunkelblau);
  }


  #footer_icons{
    flex:1;
    font-size: 1.2em;
    padding-right: 40px;
    text-align: right;
  }

  #footer_icons img{
    width: 40px;
    height: 40px;
    padding: 0px 5px;
  }

#footer_icons img:hover{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}


/* HOMEPAGE */

#quote-container {
  text-align: center;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

#quote-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.quote-card {
  flex: 0 0 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

#prev, #next {
  cursor: pointer;
  font-size: 24px;
  margin-top: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}






/* UEBER UNS */

.vision_text{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--hellblau);
  font-size: 1.7em;
  font-style: italic;
}

.quotes{
  font-size: 1.8em;
  padding: 7px;
  color: white;
}

.team_member{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.team_member_bild{
  flex:1;
  padding: 20px;
}

.team_member_text{
  flex:4;
  padding: 20px;
}

.binbuddy_maillink{
  color: var(--türkis);
  text-decoration: none;
}

.binbuddy_maillink:hover{
  color: var(--hellblau);
  text-decoration: underline;
}

.facts{
  font-size: 1.1em;
  padding-left: 3px;
  padding-right: 3px;
  color: var(--hellblau);
}

#yara_text, #cecilia_text, #nicola_text{
  text-align: left;
}

#adrian_text, #steve_text{
  text-align: right;
}


/* werte */

.werte {
  background-color: var(--türkislowop);
  color: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 7%;
  padding:10px;
}

.wertereihe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wert {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.wert:hover {
  background-color: var(--dunkelblau);
}