:root {
    --dunkelblau: #183941;
    --hellblau: #87B6CB;
    --türkis: #00A99D;
    --türkislowop: #00a99e38;
    --grün: #A4C55B;
    font-family: 'Jockey One', sans-serif;}
  
  html, body {
    margin: 0;
    height: auto;
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 356px) { 
  main {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  main {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  main {
    margin-left: 23%;
    margin-right: 23%;
  }
}
  
  .index {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }
  
  .ueberuns {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .datenschutz {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .impressum {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%; 
  }

  .kontakt {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%;       
  }

  .karte {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%;       
  }

  .forum {
    background-color: var(--dunkelblau);
    width:100%;
    height:100%;       
  }
  
  h1 {
    color: var(--grün);
  }

  h2 {
    color: var(--grün);
    font-size: 1.7em;
    padding-top: 0.7em;
  }

  h3 {
    color: var(--hellblau);
    font-size: 1.5em;
  }

  p {
    color: white;
    font-size: 1.3em;
  }
  
  .links{
    color: var(--hellblau);
    text-decoration: none;
  }
  
  .links:hover{
    color: var(--türkis);
    text-decoration: none;
  }




  /* HEADER (Logo/Navigation) */
  
  header{
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--dunkelblau);
    padding-bottom:15px;
    z-index: 200;
    margin-bottom: 7%;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: var(--grün);
  }
  
.logo{
    flex:1;
    text-align: center;
    padding-top: 20px;
}


.nav{
    flex:2;
}

.nav_links{
  color: var(--türkis);
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style:none;
  padding: 0;
  margin:0px;
}

.nav_links li a{
  display: block;
  box-sizing:border-box;
  height:40px;
  padding: 10px 0px 0px 0px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4em;
}


.nav_links li a:hover, .aktiver_menuelink{
  color:var(--blue);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: var(--blue);
}
  

  /* FOOTER */

  footer{
    background-color: var(--dunkelblau);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    padding-top:10px;
    margin-bottom: 20px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: var(--grün);
  }

  #footer_text{
    flex:1;
    font-size: 1.2em;
    padding-left: 40px;
  }


  #footer_links{
    flex:2;
    font-size: 1.2em;
    text-align: center;
  }

  .footer_link{
    color: var(--hellblau);
    text-decoration: none;
    padding: 0px 7px;
  }

  .footer_link:hover{
    color: var(--türkis);
  }


  #footer_icons{
    flex:1;
    font-size: 1.2em;
    padding-right: 40px;
    text-align: right;
  }

  #footer_icons img{
    width: 40px;
    height: 40px;
    padding: 0px 5px;
  }

#footer_icons img:hover{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}


/* HOMEPAGE */

/* Lets go button */

#letsgobtndiv{
  text-align: center;
}

#letsgobtn{
  background-color: var(--türkis);
  color: white;
  border-radius: 5px;
  width: 85%;
  height: 50px;
  font-size: 1.4em;
  border: none;
  margin: 4.5%;
  font-family: 'Jockey One', sans-serif;
  cursor: pointer;
}

#letsgobtn a{
  color: white;
  text-decoration: none;
}

#letsgobtn:hover{
  background-color: var(--hellblau);
}

/* Zitate */

.carousel_items {
  display: flex;
  overflow: hidden;
}

.carousel_item {
  position: relative;
  min-width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.zitat {
  text-align: center;
  color: var(--hellblau);
  font-style: italic;
  font-size: 1.5em;
}

.quelle {
  font-size: 1.2em;
  text-align: center;
}

/* Partner */

#partner_icons{
  font-size: 1.2em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 8%;
}

#partner_icons img{
  height: 100px;
  padding: 0px 15px;
}

#partner_icons img:hover{
  opacity: 0.5;
}

/* Rezessionen */

.rezession {
  position: relative;
  min-width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.review {
  text-align: center;
  color: var(--hellblau);
  font-style: italic;
  margin-bottom: 0;
}

.reviewer {
  flex:1;
  font-size: 1.2em;
  text-align: right;
}

#reviewerWithStar{
  display: flex;
  align-items: center;
}

.stars{
  flex: 1;
  text-align: left;
  padding-left: 20px;

}

#reviewerWithStar img{
  height: 20px;
  padding: 0px 1px;
}





/* KONTAKTSEITE */

.kontaktformular {
  background-color: var(--türkislowop);
  color: white;
  border-radius: 5px;
  width: 100% -15px;
  font-size: 1.3em;
  margin-bottom: 7%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#name {
  margin: 10px;
  padding: 3px;
  width: 20%;
}

#email {
  margin: 10px;
  padding: 3px;
  width: 30%;
}

#message {
  resize: none;
  width: 90%;
  margin: 10px;
  background-color: var(--hellblau);
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Jockey One', sans-serif;
  font-size: 0.8em;
}

.kontaktformular button {
  background-color: var(--türkis);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 2px 20px;
  margin: 10px;
  cursor: pointer;
  font-family: 'Jockey One', sans-serif;
  font-size: 0.8em;

}

.kontaktformular label {
  margin: 10px;
}

.kontaktformular input {
  background-color: var(--hellblau);
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Jockey One', sans-serif;
  font-size: 0.8em;
}





/* KARTE */

#map {
  flex: 5;
  height: 700px;
  /*width: 100%;*/
  margin-bottom: 7%;
}

/* h3 {
  color: var(--grün);
  font-size: 1em;
} */

.karte_mit_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  flex: 1;
  position: relative;
  display: inline-block;
  height: 700px;
}

.dropbutton {
  font-family: 'Jockey One', sans-serif;
  background-color: var(--türkis);
  color: white;
  padding: 10px 30px 10px 30px;
  font-size: 1.2em;
  border: solid 1px white;
  cursor: pointer;
  width: 90%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--türkislowop);
  width: 90%;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--türkis);
}

.dropdown:hover .dropdown-content {
  display: block;
}





/* UEBER UNS */

.vision_text{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--hellblau);
  font-size: 1.7em;
  font-style: italic;
}

.quotes{
  font-size: 1.8em;
  padding: 7px;
  color: white;
}

.team_member{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.team_member_bild{
  flex:1;
  padding: 20px;
}

.team_member_text{
  flex:4;
  padding: 20px;
}

.binbuddy_maillink{
  color: var(--türkis);
  text-decoration: none;
}

.binbuddy_maillink:hover{
  color: var(--hellblau);
  text-decoration: underline;
}

.facts{
  font-size: 1.1em;
  padding-left: 3px;
  padding-right: 3px;
  color: var(--hellblau);
}

#yara_text, #cecilia_text, #nicola_text{
  text-align: left;
}

#adrian_text, #steve_text{
  text-align: right;
}

#yara_bild{
  border-radius: 5%;
  background-image: url('/img/yara.png');
}

#yara_bild:hover{
  background: url('/img/yarahover.png');
}

#adrian_bild{
  border-radius: 5%;
  background-image: url('/img/adrian.png');
}

#adrian_bild:hover{
  background: url('/img/adrianhover.png');
}

#cecilia_bild{
  border-radius: 5%;
  background-image: url('/img/cecilia.png');
}

#cecilia_bild:hover{
  background: url('/img/ceciliahover.png');
}

#steve_bild{
  border-radius: 5%;
  background-image: url('/img/steve.png');
}

#steve_bild:hover{
  background: url('/img/stevehover.png');
}

#nicola_bild{
  border-radius: 5%;
  background-image: url('/img/nicola.png');
}

#nicola_bild:hover{
  background: url('/img/nicolahover.png');
}


/* werte */

.werte {
  background-color: var(--türkislowop);
  color: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 7%;
  padding:10px;
}

.wertereihe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wert {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.wert:hover {
  background-color: var(--dunkelblau);
}


/* Ueber uns */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}




/* FORUM */

.forum-container {
  background-color: white;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 80%;
  margin-bottom: 7%;
  padding:10px;
}

.message {
  background-color: var(--grün);
  width: 33%;
  border-radius: 5px;
  margin-left: 10px;
}

.message_dunkel {
  background-color: var(--hellblau);
  width: 33%;
  border-radius: 5px;
  margin-right: 10px;
}

.rechts {
  margin-left: auto;
  text-align: right;
}

.message p {
  color: white;
  font-size: 1.1em;
  padding: 20px;
  margin-bottom: 8px;
}

.message_dunkel p {
  color: white;
  font-size: 1.1em;
  padding: 20px;
  margin-bottom: 8px;
}

.user {
  color: var(--grün);
  font-size: 1.1em;
  padding-left: 20px;
  margin-top: 0;
}

.user_dunkel {
  color: var(--hellblau);
  font-size: 1.1em;
  padding-right: 20px;
  margin-top: 0;
}

.new-message {
  margin-top: 70px;
  margin-bottom: 10px;
  display: flex;
}

.new-message-input {
  flex: 4;
  font-family: 'Jockey One', sans-serif;
  font-size: 1.1em;
  padding: 10px;
}

.new-message-btn {
  flex: 1;
  background-color: var(--türkis);
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 1.4em;
  border: none;
  font-family: 'Jockey One', sans-serif;
  cursor: pointer;
  margin: 10px;
}

.new-message-btn:hover {
  background-color: var(--dunkelblau);
}