header{
    display:flex;
    align-items: center;
  }
  
.logo{
    flex:1;
    text-align: center;
    padding-top: 20px;
}

.nav{
    flex:2;
}

.nav_links{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style:none;
  padding: 0;
  margin:0px;
}

.nav_links li a{
  display: block;
  box-sizing:border-box;
  height:40px;
  padding: 10px 15px 0px 15px;
}


.nav_links li a:hover, .aktiver_menuelink{
  color:var(--blue);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: var(--blue);
}